@using DSM.ERPerfect.Models.Entities
@model Cliente

<input type="hidden" id="modal-edit-cliente-id" value="@Model.IdCliente">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="modal-edit-cliente-nombre" placeholder="Daniel" value="@Model.Nombre">
    <label for="modal-edit-cliente-nombre">Nombre</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="modal-edit-cliente-apellidos" placeholder="Santos Mundiña" value="@Model.Apellidos">
    <label for="modal-edit-cliente-apellidos">Apellidos</label>
</div>
<div class="form-floating mb-3">
    <input type="number" class="form-control" id="modal-edit-cliente-telefono" placeholder="650650650" value="@Model.Telefono">
    <label for="modal-edit-cliente-telefono">Teléfono</label>
</div>
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="modal-edit-cliente-email" placeholder="fake@fake.com" value="@Model.Email">
    <label for="modal-edit-cliente-email">Email</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="modal-edit-cliente-dni" placeholder="12345678Z" value="@Model.DNI">
    <label for="modal-edit-cliente-dni">DNI</label>
</div>