@using DSM.ERPerfect.Models.VM.BackOffice
@model UsuarioVM

@section StyleSheet {
    <link rel="stylesheet" href="~/lib/datatables/css/datatables.min.css" />
}

<div class="row">
    <div class="col-12 my-2 mt-3">
        <h3>Usuarios</h3>
    </div>
    <div class="col-12 my-2 text-end">
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal-add-usuario"><i class="bi bi-plus-square me-2"></i>Añadir</button>
        @if (Model.Active)
        {
            <button class="btn btn-outline-secondary" onclick="LoadUsuarios(false)"><i class="bi bi-arrow-down me-2"></i>Desactivados</button>
        }
        else
        {
            <button class="btn btn-outline-secondary" onclick="LoadUsuarios(true)"><i class="bi bi-arrow-up me-2"></i>Activados</button>
        }
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table id="usuario-table" class="table table-striped table-hover table-bordered" style="width: 100%;">
                <thead class="text-center">
                    <tr>
                        <th class="bg-primary text-light border-0">Login</th>
                        <th class="bg-primary text-light border-0">Rol</th>
                        <th class="bg-primary text-light border-0">Nombre</th>
                        <th class="bg-primary text-light border-0">Apellidos</th>
                        @if (Model.Active)
                        {
                            <th class="bg-primary text-light border-0">Alta</th>
                        }
                        else
                        {
                            <th class="bg-primary text-light border-0">Baja</th>
                        }
                        <th class="bg-primary text-light border-0">Ult. Login</th>
                        <th class="bg-primary text-light border-0">Bloqueo</th>
                        <th class="bg-primary text-light border-0 col-1"></th>
                    </tr>
                </thead>
                <tbody class="text-start">
                    @if (Model.Usuarios != null)
                    {
                        if (Model.Usuarios.Count > 0)
                        {
                            foreach (var item in Model.Usuarios)
                            {
                                <tr class="align-middle">
                                    <td>@item.Login</td>
                                    <td>
                                        @{
                                            var rol = Model.Roles.Where(x => x.IdRol == item.IdRol).First();
                                        }
                                        @rol.Descripcion
                                    </td>
                                    <td>@item.Nombre</td>
                                    <td>@item.Apellidos</td>
                                    @if (Model.Active)
                                    {
                                        <td>
                                            <span class="d-none">@item.FechaAlta.ToString("yyyy/MM/dd HH:mm:ss")</span>
                                            @item.FechaAlta.ToString("dd/MM/yyyy HH:mm:ss")
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @if (item.FechaBaja != null)
                                            {
                                                <span class="d-none">@item.FechaBaja.Value.ToString("yyyy/MM/dd HH:mm:ss")</span>
                                                @item.FechaBaja.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                            }
                                        </td>
                                    }
                                    <td>
                                        @if(item.FechaUltimoLogin != null)
                                        {
                                            <span class="d-none">@item.FechaUltimoLogin.Value.ToString("yyyy/MM/dd HH:mm:ss")</span>
                                            @item.FechaUltimoLogin.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td>
                                        @if (item.FechaBloqueo != null)
                                        {
                                            <span class="d-none">@item.FechaBloqueo.Value.ToString("yyyy/MM/dd HH:mm:ss")</span>
                                            @item.FechaBloqueo.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td class="d-flex justify-content-end">
                                        <button class="btn btn-warning me-2" data-bs-toggle="tooltip" data-bs-title="Editar" onclick="ShowEditarUsuario(@item.IdUsuario)"><i class="bi bi-pencil-fill"></i></button>
                                        @if (Model.Active)
                                        {
                                            <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-title="Desactivar" onclick="ShowDisabledUsuario(@item.IdUsuario)"><i class="bi bi-arrow-down"></i></button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-title="Activar" onclick="ShowEnabledUsuario(@item.IdUsuario)"><i class="bi bi-arrow-up"></i></button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

        <script src="~/lib/popper/js/popper.min.js"></script>

        <script>
            var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        </script>

        <script>
            try {
                LoadDatatableFramework('#usuario-table');
            }
            catch (error) {
                window.addEventListener('DOMContentLoaded', () => {
                    LoadDatatableFramework('#usuario-table');
                });
            }
        </script>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-add-usuario" tabindex="-1" aria-labelledby="modal-add-usuario-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-add-usuario-label">Añadir usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="modal-add-usuario-close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <select class="form-select" id="modal-add-usuario-rol" aria-label="Floating label select example">
                        <option selected>--SELECCIONE UN ROL--</option>
                        @if(Model.Roles != null)
                        {
                            if(Model.Roles.Count > 0)
                            {
                                foreach(var item in Model.Roles)
                                {
                                    <option value="@item.IdRol">@item.Descripcion</option>
                                }    
                            }
                        }
                    </select>
                    <label for="modal-add-usuario-rol">Rol</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="modal-add-usuario-login" placeholder="dsantos">
                    <label for="modal-add-usuario-login">Login</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="modal-add-usuario-password" placeholder="password">
                    <label for="modal-add-usuario-password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="modal-add-usuario-nombre" placeholder="Daniel">
                    <label for="modal-add-usuario-nombre">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="modal-add-usuario-apellidos" placeholder="Santos Mundiña">
                    <label for="modal-add-usuario-apellidos">Apellidos</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" onclick="SaveUsuario()"><i class="bi bi-plus-square me-2"></i>Añadir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-edit-usuario" tabindex="-1" aria-labelledby="modal-edit-usuario-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-edit-usuario-label">Editar usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="modal-edit-usuario-close"></button>
            </div>
            <div class="modal-body" id="modal-edit-usuario-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-warning" onclick="EditarUsuario()"><i class="bi bi-pencil-fill me-2"></i>Editar</button>
            </div>
        </div>
    </div>
</div>

@if (Model.Active)
{
    <!-- Modal -->
    <div class="modal fade" id="modal-disabled-usuario" tabindex="-1" aria-labelledby="modal-disabled-usuario-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal-disabled-usuario-label">Desactivar usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="modal-disabled-usuario-close"></button>
                </div>
                <div class="modal-body text-start" id="modal-disabled-usuario-body">
                    <input type="hidden" id="modal-disabled-usuario-id" />
                    <p>La usuario se desactivará, ¿Seguro que quiere continuar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" onclick="DisabledUsuario()"><i class="bi bi-trash-fill me-2"></i>Desactivar</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <!-- Modal -->
    <div class="modal fade" id="modal-enabled-usuario" tabindex="-1" aria-labelledby="modal-enabled-usuario-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal-enabled-usuario-label">Activar usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="modal-enabled-usuario-close"></button>
                </div>
                <div class="modal-body text-start" id="modal-enabled-usuario-body">
                    <input type="hidden" id="modal-enabled-usuario-id" />
                    <p>La usuario se activará, ¿Seguro que quiere continuar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" onclick="EnabledUsuario()"><i class="bi bi-check-lg me-2"></i>Activar</button>
                </div>
            </div>
        </div>
    </div>
}